*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-mainBlue: #2196F3;
  --color-mainBlack:#000000;
  --color-lightGray:#757575;
  --color-darckGray:#2F303A;
  --color-mainWhite:#FFFFFF;
  --color-veryDark:#212121;
  --color-greatLight:#EEEEEE;
  --color-ghostWhite:#F5F4FA;
}
.header{
  height: 80px;
}
.body {
  font-family: "Roboto", sans-serif;
  color: var(--color-mainBlack);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.section{
  margin-top: 0;
  margin-bottom: 0;
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
h1, h2{
  text-align: center;
  margin: 0;
}
.header .container{
  display:flex;
  height: 80px;
  
}
.header-company-name-link{
  padding-top: 24px;
  padding-bottom: 25px;
}
nav{
  display: flex;
}
.current-page-link {
  color:var(--color-mainBlue) ;
}
.nav-links{
  display: flex;
  align-items: center;
}
.nav-links li:first-child{
  margin-left: 93px;
}
.nav-links li:nth-child(2), .nav-links li:nth-child(3){
  margin-left: 50px;
}
.tel-email{
display: flex;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
margin-left: 342px;
padding-top: 32px;
padding-bottom: 32px;
margin-top: 0;
margin-bottom: 0;
}
.tel-email li:nth-child(2){
  margin-left: 50px;
}
.button:hover, button:focus{
  color:var(--color-mainWhite);
  background-color: var(--color-mainBlue);
}
a {
  color:var(--color-mainBlack);
  text-decoration: none;
}
ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

}
.hero .container{
  padding-top: 200px;
}
.company-name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.company-name-blue{
  color:var(--color-mainBlue);
}
nav{
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}
.gray-links{
color: var(--color-lightGray);

}
.hero{
background-color: var(--color-darckGray);
color: var(--color-mainWhite);
height: 600px;
}
.hero .container{
  text-align: center;
}
.advantages-description{
color:var(--color-lightGray);
}
.main-title{
max-width: 696px;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
color: var(--color-mainWhite);
letter-spacing: 0.06em;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
}
.button-studio{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border:none;
  background: var(--color-mainBlue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-mainWhite);
  width: 216px;
  height: 50px;
  margin-top: 30px;
  
}
.advantages-section{
  margin-top: 94px;
}
.advantages-list{
  display: flex;
}
.advantages-main{
font-weight: 700;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.03em;
}
.advantages-description{
font-size: 14px;
line-height: 1.7;
color: var(--color-lightGray);
}
.section-work{
  margin-top: 118px;
  margin-bottom: 94px;
}
.work-list{
  display: flex;
  margin-top: 50px;
}
.team-list{
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
}
.card{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.h2{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.03em;
color:var(--color-veryDark);
}
.saction-team{
  padding-top: 94px;
  background-color: var(--color-ghostWhite);
  padding-bottom: 94px;
}
.team-member-name{
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-veryDark);
}
.team-member-position{
font-size: 16px;
line-height: 1.2;
color: var(--color-lightGray);
text-align: center;
}
/*Portfolio*/
.section-projects{
  margin-bottom: 94px;
}
.flex{
  display: flex;
justify-content: center;
}
.buttons-portfolio{
  display: flex;
  margin-top: 94px;
  align-items: center;
}
.button-porfolio{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
background-color: var(--color-ghostWhite);
color: var(--color-veryDark);
height: 26px;
border-radius: 4px;
border: none;
}
.projects{
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  align-content: space-between;
}
.projects img{
  display: block;
  max-width: 100%;
  height: auto;
}
.projects li{
 width: 370px;
}
.projects div{
  border: 1px solid var(--color-greatLight) ;
  border-top: none;
  padding-top: 24px;
}
.projects-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;
margin-left: 24px;
}

.projects-type{
font-size: 16px;
line-height: 1.9;
color: var(--color-lightGray);
margin-left: 24px;
margin-top: 4px;
margin-bottom: 20px;
}
.footer{
  background-color: var(--color-darckGray);
  padding-top: 60px;
  padding-bottom: 60px;

}
.footer span:last-child{
  color: var(--color-mainWhite);
}
.address{
font-style: normal;
font-size: 14px;
line-height: 1.7;
color: var(--color-mainWhite);

}
address .email, address .tel{
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
address .address-list-item:first-child{
  margin-top: 20px;
}
.address-list-item{
  margin-top: 9px;
}
.link:hover{
  color:var(--color-mainBlue);
}
.link:focus{
  color: var(--color-mainBlue);
}
.toHide{
  display: none;
}
